#Pandas Nedir?

In [ ]:
# Pandas açık kaynaklı ve ücretli veri işleme, manipüle etme, temizleme vb. işlemleri yapabileceğimiz oldukça efektif bir kütüphanedir.
# Pandas kütüphanesi NumPy kütüphanesi üzerine kurulmuş bir kütüphanedir.
# Pandas elimizdeki veriyi şekillendirip işlememize ve veriden ANLAMLI SONUÇLAR çıkarmamıza olanak sağlar.
# Pandas kütüphanesinin temel elemanları Series ve DataFrame'dir
# Series ve DataFrame nesnelerini excel tabloları gibi düşünebiliriz.

# Pandas'ı Import Etme

In [ ]:
#!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# import pandas yeterli
import pandas as pd

# Series Oluşturma

In [ ]:
my_data = ['Emincan','Alper', 'Burak', 'Dilara', 'Zeynep']
my_data

['Emincan', 'Alper', 'Burak', 'Dilara', 'Zeynep']

In [ ]:
# pd.Series() fonksiyonu ile elimizdeki verileri Series haline getirebiliriz.

In [ ]:
pd.Series(my_data)

0    Emincan
1      Alper
2      Burak
3     Dilara
4     Zeynep
dtype: object

In [ ]:
my_data = [1923, 1776, 1876]
my_idx = ['Türkiye', 'USA', 'Canada']

In [ ]:
pd.Series(my_data, my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [ ]:
pd.Series(data = my_data, index = my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [ ]:
# pd.Series() fonksiyonu içerisine dictionary de alabilir. Dictionary'nin keyleri index, value'ları değer olur.

In [ ]:
my_dict = {
    'Emincan' : 26,
    'Kaan' : 23,
    'Ayşe' : 21,
    'Deniz' : 29
}

In [ ]:
my_dict

{'Emincan': 26, 'Kaan': 23, 'Ayşe': 21, 'Deniz': 29}

In [ ]:
pd.Series(data = my_dict)

Emincan    26
Kaan       23
Ayşe       21
Deniz      29
dtype: int64

In [ ]:
# Soru : İstanbul 15.4 , İzmir 4.3 , Ankara 5.6 , Bursa 3 şeklinde seri oluşturun. Hem liste göndererek, 
# hem de dictionary göndererek iki yöntemle de yapın.

In [ ]:
ulke = ['İstanbul', 'İzmir', 'Ankara', 'Bursa' ]
radio = [15.4, 4.3, 5.6, 3]
pd.Series(data =radio, index = ulke)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [ ]:
my_dict ={
    'İstanbul' : 15.4,
    'İzmir' : 4.3,
    'Ankara' : 5.6,
    'Bursa' : 3,
}

In [ ]:
pd.Series(my_dict)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

#Serilerde İşlemler

In [ ]:
q1 = {'Japan': 80, 'China': 450, 'Turkey': 150, 'India': 200}
q2 = {'Japan': 90, 'China': 420, 'Turkey': 230, 'India': 195}

In [ ]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [ ]:
sales_q1

Japan      80
China     450
Turkey    150
India     200
dtype: int64

In [ ]:
sales_q2

Japan      90
China     420
Turkey    230
India     195
dtype: int64

In [ ]:
sales_total = sales_q1 + sales_q2

In [ ]:
sales_sum = sales_q2 - sales_q1

In [ ]:
sales_total.index # .index attribute ü ile bakabiliriz.

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [ ]:
sales_total.keys() # .key metoduyla da indexlerine bakabiliriz.

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [ ]:
sales_total.values # .values attribute ü ile serimizin değerlerine bakabiliriz.

array([170, 870, 380, 395])

In [ ]:
sales_total

Japan     170
China     870
Turkey    380
India     395
dtype: int64

In [ ]:
sales_total*2

Japan      340
China     1740
Turkey     760
India      790
dtype: int64

In [ ]:
sales_total / 10

Japan     17.0
China     87.0
Turkey    38.0
India     39.5
dtype: float64

In [ ]:
sales_sum

Japan     10
China    -30
Turkey    80
India     -5
dtype: int64

In [ ]:
q1 = {'Japan': 80, 'China': 450, 'India': 150, 'USA': 200}
q2 = {'Brazil': 90, 'China': 420, 'India': 230, 'USA': 195}

In [ ]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [ ]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [ ]:
sales_q2

Brazil     90
China     420
India     230
USA       195
dtype: int64

In [ ]:
sales_q1 + sales_q2

Brazil      NaN
China     870.0
India     380.0
Japan       NaN
USA       395.0
dtype: float64

In [ ]:
sales_q1.add(sales_q2, fill_value = 0) # Bilinmeyen value 0 olarak aldırılabilir.

Brazil     90.0
China     870.0
India     380.0
Japan      80.0
USA       395.0
dtype: float64

In [ ]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [ ]:
sales_q1.dtype # .dtype attribute ü ile serimizin içindeki verilerin tipini çekebiliriz.

dtype('int64')

In [ ]:
my2022= pd.Series(  data ={ 
    'Fenerbahce': 51,
    'Galatasaray': 60,
    'Besiktas': 48,
    'Trabzonspor': 41, 
})
my2021= pd.Series(  data={
    'Fenerbahce': 73,
    'Galatasaray': 68,
    'Besiktas': 53,
    'Trabzonspor': 81, 
})
my2020= pd.Series( data={
    'Fenerbahce': 82,
    'Galatasaray': 84,
    'Besiktas': 84,
    'Trabzonspor': 71, 
})

In [ ]:
my2022 + my2021 + my2020

Fenerbahce     206
Galatasaray    212
Besiktas       185
Trabzonspor    193
dtype: int64

In [ ]:
#Done